<nav>
    <ul>
        <li><a href="/sleep">Sleep</a></li>
        <li><a href="/dine">Dine</a></li>
        <li><a href="/explore">Explore</a></li>
        <li><a href="/about-us">About</a></li>
        <li class="spacer"></li> <!-- Invisible Spacer -->
        <% if (user) { %>
            <!-- If user is logged in, show profile link -->
            <li><a href="/account">Account</a></li>
        <% } else { %>
            <!-- If user is not logged in, show login link -->
            <li><a href="/login">Login</a></li>
        <% } %>
    </ul>
</nav>